<h1>Links</h1>
<ul>
  <li><a href="http://cookie.revolt.org">http://cookie.revolt.org</a></li>
  <li><a href="https://cookie.revolt.org">https://cookie.revolt.org</a></li>
  <li><a href="http://it2fobyhmgfjdplqurjzm2eme35v4xjlzr6k2wxj4va2amq7yeda5tid.onion">http://it2fobyhmgfjdplqurjzm2eme35v4xjlzr6k2wxj4va2amq7yeda5tid.onion</a></li>
</ul>

<h1>Cookie test</h1>

<pre style="background: #eee; padding: 20px">
  <%= cookies['cookie-test'] || 'no cookie value set, refresh the page' %>
</pre>

<a href="<%= reset_path %>">reset cookies</a>
